body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #F53C76;
}

header {
  background-color: #000;
  color: #3FAEAF;
  text-align: center;
  padding: 1rem;
}

h1 {
  margin: 0;
}

h2 {
  padding-left: 1rem;
  color: #3FAEAF
}

section {
  padding: 2rem;
  background-color: #000;
  margin: 1rem auto;
  width: 80%;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding-left: 1rem;
}

a {
  color: #F53C76;
  text-decoration: none;
}

a:hover {
  color: #3FAEAF;
}

#banner {
  text-align: center;
  margin-bottom: 1rem;
}

#banner img {
  max-width: 100%;
  height: auto;
}

audio {
  display: block;
  width: 100%;
  margin-top: 1rem;
}
